# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

bin/*
obj/*
bin/Debug/*

std_poligon.depend
std_poligon.layout

